body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    background-color: #764ba2;
}

#container {
    display: flex;
    gap: 10px;
}

.dot {
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;

    animation: bounce 1s ease infinite;
}

.dot:nth-child(1) { animation-delay: 0s; }

.dot:nth-child(2) { animation-delay: 0.15s }

.dot:nth-child(3) { animation-delay: 0.3s }

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(2px);
    }
}