header {
    background-color: gray;
    padding: 10px;
    position: relative;
    max-width: 500px;
}

ul {
    background: burlywood;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    padding: 10px 0;
    
    transform: scaleY(0);
    transform-origin: center top;
    transition: all 0.3s ease;
}

ul li {
    padding: 10px 0;
    text-align: center;
}

#burger {
    width: 30px;
    height: 2px;
    background: white;
    display: inline-block;
    position: relative;
}

#burger::before,
#burger::after {
    content:'';
    width: 30px;
    height: 2px;
    background: white;
    display: inline-block;
    position: absolute;
    transform-origin: center;
    transition: all 0.3s ease;
}

#burger::before {
    top: -7px;
}

#burger::after {
    top: 7px;
}

#burger.open {
    background: transparent;
}
#burger.open::before {
    transform: rotate(45deg);
    top: 0;
}
#burger.open::after {
    transform: rotate(-45deg);
    top: 0;
}

ul.open {
    transform: scaleY(1);
}